<div class="message <%= 'my-message' if current_user && message.user_id == current_user.id %>">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
      <!-- 投稿したファイルを画像か画像以外で処理を振り分ける -->
    <% if message.attached_file.attached? %>
      <% if message.attached_file.image? %>
        <%= image_tag message.attached_file.variant(resize: '300x150'), class: 'message-image' %>
          <% elsif message.attached_file.attached? %>
            <%= link_to rails_blob_path(message.attached_file, disposition: 'attachment'), class: 'message-file' do %>
            <%= image_tag "doc.jpeg", alt: "Download file", width: '150', height: '150'%>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>