<%= render "shared/header" %>

<div class="main-contents">
  <div class="articles">
    <h1 class='article-header-text'>
      ～お知らせ一覧～
    </h1>
    <% @articles.each do |article| %>
      <div class="article" id=<%= article.id%>>
        <div class="article-overview">
          <%= link_to check_path(article) do %>
            <p class="article-title">
              <%= article.title%>
            </p>
            <p class="article-content">
              <%= article.content%>
            </p>
          <% end %>
          <div class="article-information">
            <p class="article-post-date">
              <%= article.created_at.strftime("%Y年 %m月 %d日") %>
            </p>
            <p class="article-poster">
              投稿者：<%= article.poster %>
            </p>
            <div class="article-check">
              <% if Check.where(user_id: current_user.id, article_id: article.id).exists? %>
                <div class="article-check-button" data=<%= article.id %>>
                  既読
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= image_tag article.image.variant(resize_to_fill: [400, 400]), class: "article-image" %>
      </div>
    <% end %>
  </div>
</div>

<div id="floatingMenu" class="notshow">
<!-- MENU1 -->
  <div class="flObj top">
    <p>チャット</p>
    <%= link_to(rooms_path) do %>
    <%= image_tag 'icon_chat.png', size: '40x40', class: "float_icon" %>
    <% end %>
  </div>
<!-- MENU2 -->
  <div class="flObj middle">
    <p>投稿する</p>
    <%= link_to(new_article_path) do %>
    <%= image_tag 'icon_pen.png' , size: '40x40', class: "float_icon" %>
    <% end %>
  </div>
  <!-- ＋のボタン -->
  <div id="flObgToggle" class="flObj bottom">
  <a><img src="plus_icon.png" width="40" height="40"></a>
  </div>
</div>

<%= render "shared/footer" %>